<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>{% block titleHead %}OTacos{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">



        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">#}
        <link rel="stylesheet" href="https://use.fontawesome.com/1aad733e9f.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/noty/animate-min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css') }}"/>
        <link href="{{ asset('css') }}/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="container-fluid">
            {% block header %}{% endblock %}
        </header>
        {% for message in app.session.getFlashBag.get('message') %}
            <div class="flash-message hidden" data-type="success">
                <div>{{ message }}</div><div><span class="top-right close-white"></span> </div> 
            </div>
        {% endfor %}
        {% for erreur in app.session.getFlashBag.get('erreur') %}
            <div class="flash-message hidden" data-type="error">
                <div>{{ erreur }}</div><div><span class="top-right close-white"></span> </div> 
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        <footer>
            
        </footer>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <!-- bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- fin bootstrap -->
        <script type="text/javascript" src="{{ asset('plugins/noty/packaged/jquery.noty.packaged.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('plugins/noty/themes/zibonzahe-min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('plugins/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('plugins/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.fr.min.js')}}"></script>

        <script src="{{asset('js/main.js')}}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
