{% extends "::base.html.twig" %}

{% block title %}AppBundle:Accueil:accueil{% endblock %}

{% block body %}
<h1 class="text-center">Choisissez la categorie</h1>

<div class="text-center">
	{% for c in categories %}
	<a href="{{url('tracabilite_choixElement', {'slug':c.slug} )}}">
	<table class="categorie">
		<tr>
			<td class="contImage">
				{% for n in nbr %}
					{% if(n.categId == c.id) %}
						<span class="topRight">{{n.nbr}}</span>
					{% endif %}
				{% endfor %}
				<img class="wwimg-thumbnail wwimg-responsive" width="auto" height="auto" src="{{asset('images/categories')}}/{{c.image}}" alt="{{c.libelle}}">
			</td>
		</tr>
		<tr>
			<td>
				{{c.libelle}}
			</td>
		</tr>
	</table></a>
	{% endfor %}
</div>


{% endblock %}