{% extends "::layout.html.twig" %}
{% block title %}Historique - reception{% endblock %}
{% block titre %}Historique - reception{% endblock %}
{% block contenu %}
<div class="row">
	<div id="accordion" role="tablist" aria-multiselectable="true" class="col-12">
	{% for key, receptions in receptionsByDate %}
		<div class="card mt-1">
	    <div class="card-header p-0" role="tab" id="heading{{ loop.index }}">
	      <h5 class="mb-0 titreAccordion" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-controls="collapse{{ loop.index }}">
	        <a>
	          {{ key }}
	        </a>
	      </h5>
	    </div>

	    <div id="collapse{{ loop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
	      <div class="card-block">
	        <table class="table table-striped table-bordered table-responsive">
				<thead class="">
					<tr class="">
						<th>Categorie</th>
						<th class="" >Date</th>
						<th class="" >Degre</th>
						<th class="" >Bon livraison</th>
						<th class="" >Remarque</th>
						<th class="" ></th>
					</tr>
				</thead>
				<tbody>
					{% for r in receptions %}
					<tr class="">
						<td>{{r.categorie.libelle|capitalize}}</td>
						<td class="">{{r.date|date('d/m/Y')}}</td>
						<td class="">{{r.degre}}</td>
						<td class="">{{r.bonLivraison}}</td>
						<td class="">{{r.remarque}}</td>
						<td class="tdImg  text-center">
							{% for p in r.photos %}
								<img src="{{ asset('uploads/images/reception/min_'~p.url)}}">
							{% endfor %}
						</td>
					</tr>
					{% endfor  %}
				</tbody>
			</table>
	      </div>
	    </div>
	  </div>
	{%  endfor %}
	</div>
</div>
{% endblock %}
