{% extends "::layout.html.twig" %}
{% block title %}Historique - temperature{% endblock %}
{% block titre %}Historique - temperature{% endblock %}
{% set liensFilAriane = [ {'url': url('accueil'), 'libelle':'accueil'}, {'url': url('historique_index'), 'libelle':'historique'}, {'url': '', 'libelle':'temperature'} ] %}
{% block contenu %}
<div class="row">
	<div id="accordion" role="tablist" aria-multiselectable="true" class="col-12">
	{% for key, temperaturesByDay in temperaturesByDate %}
		<div class="card mt-1">
	    <div class="card-header p-0" role="tab" id="heading{{ loop.index }}">
	      <h5 class="mb-0 titreAccordion" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-controls="collapse{{ loop.index }}">
	        <a>
	          {{ key|capitalize }}
	        </a>
	      </h5>
	    </div>

	    <div id="collapse{{ loop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
	      <div class="card-block contTbHistorique">
	        {% include 'AppBundle:Historique:temperatureByDay.html.twig'  with {'num': loop.index }  %}
	      </div>
	    </div>
	  </div>
	{%  endfor %}
	</div>
</div>
{% endblock %}
