{% extends "::layout.html.twig" %}
{% block title %}Historique - traçabilité{% endblock %}
{% block titre %}Historique - traçabilité{% endblock %}
{% set liensFilAriane = [ {'url': url('accueil'), 'libelle':'accueil'}, {'url': url('historique_index'), 'libelle':'historique'}, {'url': '', 'libelle':'traçabilité'} ] %}
{% block contenu %}
<div class="row">
	<div id="accordion" role="tablist" aria-multiselectable="true" class="col-12">
	{% for key, tracesByDay in tracesByDate %}
		<div class="card mt-1">
	    <div class="card-header p-0" role="tab" id="heading{{ loop.index }}">
	      <h5 class="mb-0 titreAccordion" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-controls="collapse{{ loop.index }}">
	        <a>
	          {{ key|capitalize }}
	        </a>
	      </h5>
	    </div>

	    <div id="collapse{{ loop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
	      <div class="card-block contTbHistorique">
	        {% include 'AppBundle:Historique:tracabiliteByDay.html.twig'  with {'num': loop.index }  %}
	      </div>
	    </div>
	  </div>
	{% else %}
		<p class="text-center">Aucun historique pour tracabilité.</p>
	{%  endfor %}
	</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/magnific-popup/magnific-popup.css') }}"/>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('plugins/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/galerie.js')}}"></script>
{% endblock %}
