{% extends "::layout.html.twig" %}
{% block title %}Modifier une reception{% endblock %}
{% block titre %}Modifier une reception{% endblock %}
{% block contenu %}
    {{ form_start(edit_form, {'attr':{class:'form-horizontal'}}) }}
        {{ form_widget(edit_form) }}
        <div class="text-center"><button class="btn btn-outline-primary" type="submit">Modifier</button></div>
    {{ form_end(edit_form) }}

    {#
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}
