{% extends "::layout.html.twig" %}

{% block title %}Utilisateur{% endblock %}
{% block titre %}Utilisateur{% endblock %}
{% block filAriane %}
<ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">List des utilisateurs</a>
        </li>
    </ul>
{% endblock %}
{% block contenu %}
<div class="text-center">
    <p>Nom : {{utilisateur.username|capitalize}}</p>
    <p>Email : {{utilisateur.email}}</p>
    {% if is_granted('ROLE_ADMIN') %}
        <p>Entreprise : {{utilisateur.entreprise}}</p>
        <p>Roles : {% for r in  utilisateur.roles %}
                        {% if loop.index > 1 %}, {% endif %}{{r}}
                    {% endfor %} </p>
        <p>Id : {{ utilisateur.id }} </p>
    {% endif %}

    <div>
    	<a class="btn btn-outline-secondary" href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        {{ form_start(delete_form, {'attr':{'class' : 'd-inline-block' } }) }}
            <div class=""><button class="btn btn-outline-danger" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
