{% extends "::layout.html.twig" %}
{% block titre %}Trace creation{% endblock %}

{% set liensFilAriane = [ {'url': url('accueil'), 'libelle':'accueil'}, 
                        {'url': url('tracabilite_index'), 'libelle':'traçabilité'}, 
                        {'url': url('tracabilite_choixElement', {'slug':element.categorie.slug}), 'libelle':element.categorie.libelle}, 
                        {'url': '', 'libelle':element.libelle} ] %}
{% block contenu %}
    {{ form_start(form, {'attr':{'novalidate':'novalidate', class:'form-horizontal'}} ) }}
        
        <div class="form_row form-group offset-md-4 col-md-4">
          {{ form_label(form.date, null, {'label_attr':{'class':'col-md-12 control-label'} }) }}
          <div class="col-md-12">
            <div class="input-group date">
                {{ form_widget(form.date) }}
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            <p class="help-block">{{ form_errors(form.date) }}</p>
          </div>
        </div>


        {{form_row(form.remarque)}}

        <div class="text-center">
            <a href="#" id="add-photo" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Ajoutter photo</a>
            <ul id="formPhoto-fields-list" class="photo-fields-list" id="formPhoto-fields-list"
            data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
            {% for formPhoto in form.photos %}
                <li class="element">
                    {{ form_errors(formPhoto) }}
                    {{ form_widget(formPhoto) }}
                </li>
            {% endfor %}
            </ul>
            {{ form_errors(form) }}
            <button class="btn btn-primary" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Valider</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/photo.js')}}"></script>

{#<script type="text/javascript">
    // keep track of how many email fields have been rendered
    var nbrPhoto = '{{ form.photos|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-photo').click(function(e) {
            e.preventDefault();

            var photoList = jQuery('#formPhoto-fields-list');

            // grab the prototype template
            var newWidget = photoList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, nbrPhoto+''+Math.floor((Math.random() * 10) + 1)  );
            nbrPhoto++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li class="element"></li>').html(newWidget);
            newLi.appendTo(photoList);

            addTagFormDeleteLink(newLi);
        });

        //--------------------------- suppression
        // Get the ul that holds the collection of tags
        $collectionHolder = $('#formPhoto-fields-list');

        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li.element').each(function(index) {
            if(index != 0)
            {
               addTagFormDeleteLink($(this)); 
            }
        });


        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<i class="fa fa-trash-o" aria-hidden="true"></i>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
                gestionAffichageAdd();
            });
            gestionAffichageAdd();
        }

        function gestionAffichageAdd(){
            if($('.element').length >= 2)
            {
                $("#add-photo").hide();
            }
            else{
                $("#add-photo").show();
            }
        }


    })
</script> #}


{% endblock %}
