{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trace</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trace.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if trace.date %}{{ trace.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ trace.remarque }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trace_edit', { 'id': trace.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
